.App {
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

section {
  width: 100%;
  min-height: 100vh;
}

section:nth-of-type(odd) { 
  background-color: var(--section-odd-bg-color);
}

section:nth-of-type(even) { 
  background-color: var(--section-even-bg-color);
}

h1, p {
  color: var(--primary-accent-color);
}

.card {
  background-color: var(--card-bg-color-1);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-accent-color);
}

.accent-span {
  color: var(--primary-accent-color);
}
